*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(248, 165, 12);
}
body{
    background-color: black;
}

h6{
    font-family: 'Caveat', cursive;
    font-size: 30px;
    
}

.font{
    font-size: 8px;
    font-weight: bold;
}

.bg-polaroid{
    background-color: white;
    width: 100%;
    height: calc(100vh - 20px);
    margin: 10px 0;
    border: 2px black solid;
}

.width-img{
    width: calc(100% - 40px);
    height: 100%;
    margin: 20px 20px 20px 5px;
    border: 2px black solid;
}